.user-cards {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  width: 200px;
  border: 2px solid #b3a1a1;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  word-wrap: break-word;
  background-color: #ece4e4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-data p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url('/src/assets/');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-data {
  margin-top: 16px;
}

.user-data label {
  display: block;
  font-weight: bold;
}

.user-data p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-actions {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delete-button,
.update-button,
.details-button {
  min-width: 200px;
  flex-grow: 1;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  height: 40px;
}

.delete-button i,
.update-button i,
.details-button i {
  margin-right: 8px;
}


.delete-button {
  background-color: red;
  color: white;
}

.update-button {
  background-color: green;
  color: white;
}

.details-button {
  background-color: rgb(0, 32, 128);
  color: white;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url('/assets/icons/empty-user.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.user-avatar[src=""] {
  display: none;
}

.user-avatar[src=""]:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
}

.default-avatar {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
}