.custom-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.custom-dialog-container.show-form {
  opacity: 1;
}

.update-form-container {
  padding: 2.4rem;
  max-width: 50.0rem;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.custom-dialog-container.show-form .update-form-container {
  opacity: 1;
}

.update-form-container h4 {
  margin: 0;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.update-form-container .form-group {
  margin-bottom: 1.6rem;
}

.update-form-container .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.update-form-container .form-control {
  font-family: 'Poppins', sans-serif;
  border: none;
  color: var(--primary-color);
  border-radius: 0.4rem;
  padding: 0.8rem;
  width: 100%;
  font-size: 1.4rem;
}

.update-form-container .user-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.6rem;
}

.update-form-container .user-actions .update-button,
.update-form-container .user-actions .cancel-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  min-width: 10.0rem;
  display: flex;
  align-items: center;
  background-color: green;
  color: white;
  border: none;
  margin-right: 0.8rem;
}

.update-form-container .user-actions .cancel-button {
  background-color: red;
}

.update-form-container .user-actions .update-button i,
.update-form-container .user-actions .cancel-button i {
  margin-right: 0.5rem;
}

.update-form-container .user-actions .update-button p,
.update-form-container .user-actions .cancel-button p {
  margin: 0;
}
