.custom-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.custom-dialog-container.show-form {
  opacity: 1;
}

.custom-dialog-content {
  background-color: rgb(233, 221, 221);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 30.0rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.dialog-message {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.dialog-icon {
  width: 15.0rem;
  margin: 10px 0;
}

.dialog-actions {
  display: flex;
  justify-content: center;
}

.delete-button {
  background-color: #FF6A55;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  min-width: 10.0rem;
  align-items: center;
  border: none;
  margin-right: 0.8rem;
}

.cancel-button {
  background-color: #2BD23C;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  min-width: 10.0rem;
  align-items: center;
  border: none;
  margin-right: 0.8rem;
}
