<div class="custom-dialog-container">
  <div class="custom-dialog-content">
    <h4 class="dialog-title">
      <strong class="dialog-message">{{ mensagem }}</strong>
    </h4>
    <img src="../assets/icons/delete.png" alt="Ícone de exclusão" class="dialog-icon" style="width: 120px">
    <div class="dialog-actions">
      <button class="delete-button" [mat-dialog-close]="true">Apagar</button>
      <button class="cancel-button" [mat-dialog-close]="false">Cancelar</button>
    </div>
  </div>
</div>