<div class="widget-container">
  <div class="widget green">
    <div class="icon icon-right">
      <img [src]="study" alt="Location Icon" ngNonBindable>
    </div>
    <div class="value">
      <div class="top">
        73 <i class="fas fa-users"></i>
      </div>
      <div class="bottom">Estudos</div>
    </div>
  </div>

  <div class="widget yellow">
    <div class="icon icon-right">
      <img [src]="entertainment" alt="Shop Icon" ngNonBindable>
    </div>
    <div class="value">
      <div class="top">
        27 <i class="fas fa-users"></i>
      </div>
      <div class="bottom">Entretenimento</div>
    </div>
  </div>

  <div class="widget red">
    <div class="icon icon-right">
      <img [src]="sports" alt="Boxes Icon" ngNonBindable>
    </div>
    <div class="value">
      <div class="top">
        44 <i class="fas fa-users"></i>
      </div>
      <div class="bottom">Esportes</div>
    </div>
  </div>

  <div class="widget blue">
    <div class="icon icon-right">
      <img [src]="meditation" alt="Money Bill Icon" ngNonBindable>
    </div>
    <div class="value">
      <div class="top">
        66 <i class="fas fa-users"></i>
      </div>
      <div class="bottom">Meditação</div>
    </div>
  </div>
</div>