<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <i class="fas fa-users"></i>
      <img [src]="study" alt="Location Icon">
    </div>
    <div class="value">
      <div class="top">23</div>
      <div class="bottom">Estudos</div>
    </div>
  </div>

  <div class="widget yellow">
    <div class="icon">
      <img [src]="entertainment" alt="Shop Icon">
    </div>
    <div class="value">
      <div class="top">A</div>
      <div class="bottom">Entretenimento</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <img [src]="sports" alt="Boxes Icon">
    </div>
    <div class="value">
      <div class="top">B</div>
      <div class="bottom">Esportes</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <img [src]="meditation" alt="Money Bill Icon">
    </div>
    <div class="value">
      <div class="top">Meditação</div>
      <div class="bottom">Meditação</div>
    </div>
  </div>
</div>