.main-container {
  margin-top: 60px;
  margin-right: 8px;
}

.categories-title {
  top: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.categories-title h1 {
  font-size: 3rem;
  color: #FFF;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;
  padding-bottom: 16px;
  gap: 1.6rem;
}

.widget {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(209, 194, 194);
  box-shadow: 5px 5px 5px #272222;
  display: flex;
  align-items: center;
  padding: 20px;
}

.widget.green {
  background-color: rgb(4, 67, 66);
}

.widget.yellow {
  background-color: rgb(163, 108, 18);
}

.widget.red {
  background-color: rgb(126, 5, 5);
}

.widget.blue {
  background-color: rgb(105, 32, 251);
}

.icons {
  width: 7rem;
}

.widget .icon {
  width: 9.0rem;
  font-size: 60px;
  text-align: center;
}

.widget .value {
  text-align: center;
  width: 175px;
}

.widget .value .top {
  font-size: 30px;
}

.widget .value .bottom {
  font-size: 2.3rem;
  margin-top: 10px;
}

.icon-right {
  display: flex;
  align-items: center;
}

.icon-right i {
  margin-left: 5px;
}