<div class="main-container">
  <div class="categories-title">
    <h1>Categorias</h1>
  </div>
  <div class="widget-container">
  
    <div class="widget green">
      <div class="icon icon-right">
        <img [src]="study" alt="Location Icon" ngNonBindable class="icons">
      </div>
      <div class="value">
        <div class="bottom">Estudos</div>
      </div>
    </div>

    <div class="widget yellow">
      <div class="icon icon-right">
        <img [src]="entertainment" alt="Shop Icon" ngNonBindable class="icons">
      </div>
      <div class="value">
        <div class="bottom">Entretenimento</div>
      </div>
    </div>

    <div class="widget red">
      <div class="icon icon-right">
        <img [src]="sports" alt="Boxes Icon" ngNonBindable class="icons">
      </div>
      <div class="value">
        <div class="bottom">Esportes</div>
      </div>
    </div>

    <div class="widget blue">
      <div class="icon icon-right">
        <img [src]="meditation" alt="Money Bill Icon" ngNonBindable class="icons">
      </div>
      <div class="value">
        <div class="bottom">Meditação</div>
      </div>
    </div>
  </div>
</div>
