.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

form h2 {
  font-size: 2.4rem;
  color: #FFF;
  text-align: start;
  margin-bottom: .8rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  padding: 2.4rem;
  border-radius: 1.0rem;
  box-shadow: var(--shadow);
  max-width: 50.0rem;
  width: 100%;
  background-color: var(--primary-color);
}

input[type="text"],
input[type="email"] {
  font-family: 'Poppins', sans-serif;
  border: none;
  color: var(--primary-color);
  border-radius: .4rem;
  padding: .8rem;
  width: 100%;
  font-size: 1.4rem;
}
input:is(:focus) {
  outline: .2rem solid #2A85FF;
}

.button-container {
  display: flex;
  gap: .8rem;
  margin-top: 1.6rem;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: .8rem 1.6rem;
  border-radius: .4rem;
  cursor: pointer;
  min-width: 10.0rem;
}
button:is(:hover) {
  cursor: pointer;
  opacity: .87;
}

button[type="submit"] {
  background-color: #2BD23C;
  color: white;
  border: none;
}

button[type="button"] {
  background-color: #FF6A55;
  color: white;
  border: none;
}