.example-spacer {
  flex: 1 1 auto;
}

.a {
  background-image: url(model/taskme.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgb(25, 32, 41);
}

.sidebar .sidebar-logo {
  margin-bottom: 16px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 30px;
  padding-left: 20px;
}

.sidebar-menu li {
  padding: 8px 0;
  margin: 0;
  position: relative;
}

.sidebar-menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.text-white {
  color: white !important;
}

.content {
  margin-left: 22%;
  padding: 16px;
}

.add-button {
  background-color: #104cce !important; 
  color: white !important;
}

.add-button:hover {
  background-color: #1976d2;
}

.add-button i {
  color: white;
  margin-right: 8px;
}