.example-spacer {
    flex: 1 1 auto;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 16px;
  }
  
  .content {
    margin-left: 22%;
    padding: 16px;
  }
  