<main>
  <aside class="sidebar">
    <div class="top">
      <h1>
        <a href="#">TaskMe</a>
      </h1>
    </div>

    <nav>
      <ul class="sidebar-menu">
        <li>
          <a href="#" class="active">
            <i class="ph ph-users"></i> Usuários
          </a>
        </li>

        <li>
          <a href="#">
            <i class="ph ph-chart-line"></i> Análise de dados
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  
  <section class="content">
    <mat-toolbar>
      <span class="example-spacer"></span>

      <button class="add-button" (click)="createNewUser()">
        <i class="ph ph-user-plus"></i> Novo usuário
      </button>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </section>
</main>

