.custom-dialog-content {
    background-color: #f3efef;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  }
  
  .custom-dialog-content {
    background-color: #f3efef;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .mat-dialog-container {
    z-index: 9999 !important;
  }

  .delete-icon {
    width: 20px;
  }

  body {
    background-image: url(assets/icons/main-bg.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;

  }

  